[submodule "css-exercises"]
	path = css-exercises
	url = git@github.com:pavelnaut/css-exercises.git
[submodule "javascript-exercises"]
	path = javascript-exercises
	url = git@github.com:pavelnaut/javascript-exercises.git
